<% include header %>
<% include navigation %>

    <p style="color:blue"><b>The employee was successfully added.</b></p>
    <table id="login">
        <tr><td>First Name:</td>
        <td><b><%= e_FN %></b></td>
        </tr>
        <tr><td>Last Name:</td>
        <td><b><%= e_LN %></b></td>
        </tr>
        <tr><td>Employee Level:</td>
        <td><b><%= e_level %></b></td>
        </tr>
        <tr><td>Department:</td>
        <td><b><%= e_dName %></b></td>
        </tr>
    </table>
</div>

<% include footer %>
