<% include header %>
<% include navigation %>
<% include styleEditDepartment %>

<div id="section">

<div>
    <h2>Edit Department</h2>
</div>

<style>
#sep {
    height: 2px;
    background: #D1F0FF;
    width: 1300px;
    margin: 0px -25px;
}
</style>

<div id="sep"> </div>
<br>
<br>




 <form method="POST" action="/department/postDept">
    <table id="login">
        <tr><td>Record Number:</td>
            <td><input type="text" id="rID" name="rID" /></td>
        </tr>
        <tr><td>Department:</td>
            <!-- name attribute must be provided for non ajax forms -->
            <td><input type="text" id="newdepartment" name="newdepartment" /></td>
        </tr>
    </table>
    <input type="submit" value="Update Department">
</form>

</div>
<% include footer %>
