<% include header %>
<% include navigation %>
<% include styleTable %>

<div>
    <h2>Employee was successfully added to database.</h2>
</div>

<style>
#sep {
    height: 2px;
    background: #D1F0FF;
    width: 1300px;
    margin: 0px -25px;
}
</style>

<div id="sep"> </div>
<br>
<br>

    <table id="login">
        <tr><td>First Name:</td>
        <td><b><%= e_FN %></b></td>
        </tr>
        <tr><td>Last Name:</td>
        <td><b><%= e_LN %></b></td>
        </tr>
        <tr><td>Employee Level:</td>
        <td><b><%= e_level %></b></td>
        </tr>
        <tr><td>Department:</td>
        <td><b><%= e_dName %></b></td>
        </tr>
    </table>
</div>

<% include footer %>
