<% include header %>
<% include navigation %>

<h4>Edit Department</h4>

 <form method="POST" action="/department/postDept">
    <table id="login">
        <tr><td>Record Number:</td>
            <td><input type="text" id="rID" name="rID" /></td>
        </tr>
        <tr><td>Department:</td>
            <!-- name attribute must be provided for non ajax forms -->
            <td><input type="text" id="newdepartment" name="newdepartment" /></td>
        </tr>
    </table>
    <input type="submit" value="Update Department">
</form>


<% include footer %>
