<% include header %>
<% include navigation %>

<p style="color:black"><i>Fill out this form to enter availabitity.</i></p>


<!-- Form Style -->
<style>
#form {
	display: inline-block;
	float: left;
	clear: left;
	width: 600px;
	text-align: left;
}

#input {
	vertical-align: bottom;
	border: 1px solid gray;
}


#select {
	vertical-align: bottom;
	border: 1px solid gray;
}

</style>



 <% if(rs.length > 0) { %> 


<div id="form">
<form method="POST" action="enterAvailability/viewAvailability">
<table>

    <tr>
    <th colspan="2">Monday</th>
    <th colspan="2">Tuesday</th>
    <th colspan="2">Wednesday</th>
    <th colspan="2">Thursday</th>
    <th colspan="2">Friday</th>
    <th colspan="2">Saturday</th>
    <th colspan="2">Sunday</th>
</tr>
  <% for (var i=0; rs.length > i; i++) { %>
     
     
     
	     <tr>
	     <td> <%= formatTime(rs[i].sh_startTime) %> </td>
             <td> <%= formatTime(rs[i].sh_endTime) %> </td>
	     <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>             
	     </tr>
            </tr>
        <% } %>
</table>
  <% } else { %>
        Manager has not entered any shifts to work.
  <% } %>

    <br>
    <input type="submit" value="Add Employee">
    <input type="reset" value="Clear Form">
</form>


<div id="form">
<form method="POST" action="">
    <table id="availablity" width="1100"> 
    <tr>	       
    <th colspan="2">Monday</th> 
    <th colspan="2">Tuesday</th>
    <th colspan="2">Wednesday</th>
    <th colspan="2">Thursday</th>
    <th colspan="2">Friday</th>
    <th colspan="2">Saturday</th>
    <th colspan="2">Sunday</th>
</tr>	  
<tr>
	 <td>6am - 9am</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>6am - 9am</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
	  <td>6am - 9am</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>6am - 9am</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td> <td>6am - 9am</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>6am - 9am</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td> <td>6am - 9am</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
        </tr>        

<tr>
         <td>9am - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>9am - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
          <td>9am - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>9am - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
	 <td>9am - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>9am - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
	 <td>9am - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
        </tr>

<tr>
         <td>12pm - 3pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>12pm - 3pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
          <td>12pm - 3pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>12pm - 3pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
	 <td>12pm - 3pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>12pm - 3pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
	 <td>12pm - 3pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
        </tr>

<tr>
         <td>3pm - 6pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>3pm - 6pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
          <td>3pm - 6pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>3pm - 6pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
	 <td>3pm - 6pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>3pm - 6pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
	 <td>3pm - 6pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
        </tr>

<tr>
         <td>6pm - 9pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>6pm - 9pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
          <td>6pm - 9pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>6pm - 9pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
	 <td>6pm - 9pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>6pm - 9pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
	 <td>6pm - 9pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
        </tr>

<tr>
         <td>9pm - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>9pm - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
          <td>9pm - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>9pm - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td> 
	 <td>9pm - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
         <td>9pm - 12pm</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
	  <td>9pm - 12am</td>
         <td><input type="checkbox" id="e_SSN" name="e_SSN" /></td>
        </tr>

         </table>
</div>

    <br>
    <input type="submit" value="Add Employee">
    <input type="reset" value="Clear Form">
</form>

<% include footer %>
