<!DOCTYPE html>
<html>

<head>
<style>
#header {
    background-color:#5370c8;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:150px;
    float:left;
    padding:5px;	      
}
#section {
    width:550px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:#647ece;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
</head>

<body>

<div id="header">
<h1>SSU Recreation Center Employee Scheduling</h1>
</div>


</body>
</html>







