<% include header %>

<html lang="en-US">
<head>
<style>
.level {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    color: black ;
} 

.side {
    line-height:30px;
    background-color:#white;
    height:300px;
    width:150px;
    float:left;
    padding:5px;	      
}
</style>
</head>

<div class="side"> </div>



<body>
  <a href="/login">
  <div class="level">
    <h2>Management</h2>
    <p>Click here if you are a manager.</p>
  </div> </a>
  
  <a href="/login">
  <div class="level">
    <h2>Employee</h2>
    <p>Click here if you are a current employee.</p>
  </div> </a>

  <a href="/employee/create">
  <div class="level">
    <h2>Others</h2>
    <p>Click here if you are a new employee.</p>
  </div> </a>

</body>

<% include footer %>
