<% include styleLoginForm %>






<div>
 
 
    <form action="#">
 
        <input type="text" name="username" placeholder="username">
	<br> 
        <input type="password" name="password" placeholder="password">
	<br> 
        <span>
            <input type="checkbox" name="checkbox">
	    <label for="checkbox">remember</label>
        </span>
 
        <input type="submit" value="log in">
 
    </form>
 
</div>
