<!DOCTYPE html>

<div id="nav">
<ul>
    <li><a href="/employee/home">Home</a></li>
<!--    <a href="/login">Login</a><br>  -->
    <li><a href="/employee/create">Sign Up</a> </li>
    <li><a href="/department/editDept">Edit Department</a></li>
    <li><a href="/employeeshift/viewSchedule">View Schedule</a></li>
    <li><a href="/level/subCorner">Sub Corner</a></li>
    <li><a href="/enterAvailability/enterAvailability">Enter Availability</a></li>
</ul>

</div>

<div id="section">
<html>
