<% include styleForm %>


<!DOCTYPE html>

<div id="nav">
    <button><a href="/employee/home">Main Page</a></button><br>
    <button><a href="/department/editDept">Edit Department</a></button><br>
    <button><a href="/employeeshift/viewSchedule">View Schedule</a></button><br>
    <button><a href="/level/subCorner">Sub Corner</a></button><br>
    <button><a href="/enterAvailability/enterAvailability">Enter Availability</a></button><br>

</div>

<div id="section">
<html>
