<!DOCTYPE html>
<html>

<div id="nav">
    <a href="/employee/home">Home</a><br>
<!--    <a href="/login">Login</a><br>  -->
    <a href="/employee/create">Sign Up</a><br>
    <a href="/department/editDept">Edit Department</a><br>
    <a href="/employeeshift/viewSchedule">View Schedule</a><br>
    <a href="/level/subCorner">Sub Corner</a><br>
    <a href="/enterAvailability/enterAvailability">Enter Availability</a><br>
</div>

<div id="section">
<html>
