<!-- This form is for new employees who have no existing account only. -->


<% include header %>
<% include styleTable %>
<% include styleForm %>
<% include navigation %>


<div id="section">

<div>
    <h2>Schedule</h2>
</div>

<style>
#sep {
    height: 2px;
    background: #D1F0FF;
    width: 1300px;
    margin: 0px -25px;
}
</style>

<div id="sep"> </div>
<br>
<br>

    <table id="login">
        <tr><td>Day:</td>
        <td><b><%= sh_Day %></b></td>
        </tr>
        <tr><td>Station:</td>
        <td><b><%= sh_stnName %></b></td>
        </tr>
        <tr><td>Start Time:</td>
        <td><b><%=sh_StartTime %></b></td>
        </tr>
        <tr><td>End Time:</td>
        <td><b><%= sh_EndTime %></b></td>
        </tr>
    </table>
</div>

<% include footer %>
