<!-- This will display all employee schedule -->

<% include header %>
<% include navigation %>

<div id="section">

<div>
    <h2>Employee Schedule</h2>
</div>

<style>
#sep {
    height: 2px;
    background: #D1F0FF;
    width: 1300px;
    margin: 0px -25px;
}

table {
    width:100%;
}
table,th, td {
    width:15px;
    border: 1px solid white;
    border-collapse: collapse;
}


th, td {
    padding: 5px;
    text-align: center;
    width:15px;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
    width:100px;
}

</style>

<div id="sep"> </div>
<br>
<br>

    <% if(rs.length > 0) { %>
    	<table id="t01">
	    <tr><th> Days </th></tr>
	   	<% for (var i=0; i < 7; i++) { %>
		    
			<td><a href="/home/?sh_Day=<%= rs[i].sh_Day %>"> <%= rs[i].sh_Day %></a></td>
		    		    	    
		<% } %>
 	</table>
    <% } else { %>
         No shifts are up for grabs.
    <% } %>

<% include footer %>


