
<% include header %>
<% include navigation %>
<% include styleForm %>

<div id="section">

<div>
    <h2>Sub Corner</h2>
</div>

<style>
#sep {
    height: 2px;
    background: #D1F0FF;
    width: 1300px;
    margin: 0px -25px;
}
</style>

<div id="sep"> </div>
<br>
<br>



     <% if(rs.length > 0) { %>
   <form method="post" action="/level/subCorner">
       <label for="level">Select Level:</label>
       <select id="level" name="level">
            <% for (var i=0; rs.length > i; i++) { %>
             <option value="<%= rs[i].l_level %>">
                 <%= rs[i].l_Desc %> 
             </option>
            <% } %>
       </select>
       <input type="submit">
   </form>
    <% } else { %>
         No levels to display.
    <% } %>
<br>
      <br>
      <a href="/employee/level">Which level am I?</a>



</div>
<% include footer %>
