
<% include header %>
<% include navigation %>

<h4>View Schedule</h4>

     <% if(rs.length > 0) { %>
   <form method="post" action="/employeeshift/viewSchedule">
       <label for="recNumber">Select Name:</label>
       <select id="recNumber" name="recNumber">
            <% for (var i=0; rs.length > i; i++) { %>
             <option value="<%= rs[i].e_SSN %>">
                 <%= rs[i].e_FN %> <%= rs[i].e_LN %>
             </option>
            <% } %>
       </select>
       <input type="submit">
   </form>
    <% } else { %>
         No users are entered into the database.
    <% } %>


<% include footer %>
